body {
  height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.first-section {
  font-family: "Roboto", serif; 
  background: #1F2937;
  color: white;
  outline: 2px solid red;
  padding: 0 200px 100px;
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header h1 {
  font-size: 24px;
  color: #F9FAF8;
}

.header ul {
   display: flex;
  gap: 20px;
}
.header a {
  font-size: 18px;
  color: #E5E7EB;
}

