body {
  font-family: "Roboto", serif;
  height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  font-size: 18px;
  background: #3882F6;
  color: #F9FAF8;
  border-radius: 8px;
  border-color: #3882F6;
  padding: 5px 30px;
}

/*First Section*/

.first-section {
  font-family: "Roboto", serif; 
  font-size: 18px;
  background: #1F2937;
  color: white;
  padding: 0 200px 100px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header h1 {
  font-size: 24px;
  color: #F9FAF8;
}

.header ul {
   display: flex;
  gap: 20px;
}
.header a {
  font-size: 18px;
  color: #E5E7EB;
}

/*First Main Content*/
.first-main {
  display: flex;
}

.first-left {
  color: #E5E7EB;
  flex: 1;
}

.first-left h1 {
  margin-bottom: 0px;
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.first-left p {
  margin-top: 0px;
  width: 90%;
}

.first-main img {
  flex: 1;
}

/*Second section*/
.second-section {
  margin-top: 20px;
  height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.second-section h1 {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
}

.group-items {
  width: 60%;
  display: flex;
  align-items: space-between;
}

.illustration {
  border: 4px solid #3882F6;
  border-radius: 10px;
  height: 150px;
  width: 150px;
}
.item {
  display: flex;
  flex-direction: column;
}

.item p {
  font-size: 18px;
  width: 80%;
  text-align: center;
}





